
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>CETINI GZA InfraVial Peru</title>
        
<!-- 

Sentra Template

https://templatemo.com/tm-518-sentra

-->
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        
        

        <link rel="stylesheet" href="https://CetiniGzaInfravialPeruAW.b-cdn.net/static/css/Informativa/bootstrap-theme.min.css">
        <link rel="stylesheet" href="https://CetiniGzaInfravialPeruAW.b-cdn.net/static/css/Informativa/bootstrap.min.css">
        <link rel="stylesheet" href="css/fontAwesome.css">
        <link rel="stylesheet" href="https://CetiniGzaInfravialPeruAW.b-cdn.net/static/css/Informativa/light-box.css">
        <link rel="stylesheet" href="https://CetiniGzaInfravialPeruAW.b-cdn.net/static/css/Informativa/Slider.css">
        <link rel="stylesheet" href="https://CetiniGzaInfravialPeruAW.b-cdn.net/static/css/Informativa/owl-carousel.css">
        <link rel="stylesheet" href="https://CetiniGzaInfravialPeruAW.b-cdn.net/static/css/Informativa/templatemo-style.css">
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
            <!-- font icons -->
    <link rel="stylesheet" href="https://CetiniGzaInfravialPeruAW.b-cdn.net/static/vendors/themify-icons/css/themify-icons.css">
    <!-- Bootstrap + LeadMark main styles -->
	<link rel="stylesheet" href="https://CetiniGzaInfravialPeruAW.b-cdn.net/static/css/leadmark.css">
    
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

        
         <!-- Bootstrap -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
 
    </head>

<body>

<!-- Navbar Mobil -->

        <header class="nav-down responsive-nav hidden-lg hidden-md">
    <nav class="navbar custom-navbar navbar-expand-md navbar-light fixed-top" data-spy="affix" data-offset-top="10" style="padding-bottom:1.4rem">
        <div class="container" style="padding-right:20px">
            <a class="navbar-brand" href="https://drive.google.com/uc?id=1dTlLAXZv6dkQREzOhj5EciQj0h9-40JJ&export=download">
                <img src="img/LogoGZA.png" alt="">
            </a>
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto" style="background-color:#fff;margin-top: 13px;border-radius: 10px;">                     
                    <li class="nav-item">
                        <a class="nav-link" href="#top">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#featured">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#video"> Cursos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#blog">Eventos </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#infografias">Infografias </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact"> Contactos</a>
                    </li>

                    <li class="nav-item">
                        <a href="" class="text-white ml-4 nav-link btn btn-danger btn-sm rounded intro__btnAV">Aula Virtual</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
        </header>
        
<!-- Navbar pc -->

        <div class="sidebar-navigation hidde-sm hidden-xs">
            <div class="logo">
                <a href="#">CETINI <em> GZA INFRAVIAL </em>PERÚ</a>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="#top">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Inicio
                        </a>
                    </li>
                    <li>
                        <a href="#featured">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Nosotros
                        </a>
                    </li>

                    <li>
                        <a href="#video">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Cursos
                        </a>
                    </li>
                    <li>
                        <a href="#blog">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Eventos
                        </a>
                    </li>
                    
                    <li>
                        <a href="#infografias">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Infografias
                        </a>
                    </li>

                    <li>
                        <a href="#contact">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Contactos
                        </a>
                    </li>
                </ul>
                <div class="text-center">
<button  type="button" class="btn btn-outline-danger intro__btnAV2" style="font-size:20px;">Aula Virtual </button>
                </div>
            </nav>
            
            <ul class="social-icons">
                <li><a href="https://www.facebook.com/Centro-de-Tecnología-Investigación-e-Innovación-GZA-InfraVial-Perú-105160065327319/"><i class="text-primary fa fa-facebook"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UC-NrCPRtyHIuiaBC4X0axmg"><i class="fa fa-youtube"></i></a></li>
                <li><a href="https://www.linkedin.com/company/cetini-gza-infravial-per%C3%BA/"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://wa.me/51986739018"><i class="text-success fa fa-whatsapp"></i></a></li>
            </ul>
        </div>

<!-- Home -->
            <section id="top" class="content-section ">

     <main id="hero"  >

        <div class="promo">
<div>
                          <h1>Centro de tecnología, investigación e innovación GZA InfraVial Perú</h1>
                          <div class="white-button button text-right py-4 px-4">
                              <a href="#contact">Contáctanos</a>
                          </div>
                        </div>    </div>
    <video muted autoplay loop>

        <source src="./video/portada.mp4" type="video/mp4">
    </video>
    <div class="capa"></div>
    </main>
    
    </section>

      <div class="page-content">
        
     <svg width="100%" height="100%" id="svg" viewBox="0 0 1440 400" xmlns="http://www.w3.org/2000/svg" class="transition duration-300 ease-in-out delay-150"><style>
          .path-0{
            animation:pathAnim-0 4s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
          }
          @keyframes pathAnim-0{
            0%{
              d: path("M 0,400 C 0,400 0,200 0,200 C 131.06666666666666,191.46666666666667 262.1333333333333,182.93333333333334 435,186 C 607.8666666666667,189.06666666666666 822.5333333333333,203.73333333333332 997,208 C 1171.4666666666667,212.26666666666668 1305.7333333333333,206.13333333333333 1440,200 C 1440,200 1440,400 1440,400 Z");
            }
            25%{
              d: path("M 0,400 C 0,400 0,200 0,200 C 211.46666666666664,241.33333333333334 422.9333333333333,282.6666666666667 563,260 C 703.0666666666667,237.33333333333331 771.7333333333333,150.66666666666669 906,130 C 1040.2666666666667,109.33333333333333 1240.1333333333332,154.66666666666666 1440,200 C 1440,200 1440,400 1440,400 Z");
            }
            50%{
              d: path("M 0,400 C 0,400 0,200 0,200 C 176.93333333333334,167.2 353.8666666666667,134.39999999999998 519,131 C 684.1333333333333,127.60000000000001 837.4666666666667,153.60000000000002 989,170 C 1140.5333333333333,186.39999999999998 1290.2666666666667,193.2 1440,200 C 1440,200 1440,400 1440,400 Z");
            }
            75%{
              d: path("M 0,400 C 0,400 0,200 0,200 C 131.2,236.13333333333333 262.4,272.26666666666665 434,273 C 605.6,273.73333333333335 817.5999999999999,239.0666666666667 992,221 C 1166.4,202.9333333333333 1303.2,201.46666666666664 1440,200 C 1440,200 1440,400 1440,400 Z");
            }
            100%{
              d: path("M 0,400 C 0,400 0,200 0,200 C 131.06666666666666,191.46666666666667 262.1333333333333,182.93333333333334 435,186 C 607.8666666666667,189.06666666666666 822.5333333333333,203.73333333333332 997,208 C 1171.4666666666667,212.26666666666668 1305.7333333333333,206.13333333333333 1440,200 C 1440,200 1440,400 1440,400 Z");
            }
          }</style><defs><linearGradient id="gradient" x1="83%" y1="12%" x2="17%" y2="88%"><stop offset="5%" stop-color="#000000"></stop><stop offset="95%" stop-color="#700202"></stop></linearGradient></defs><path d="M 0,400 C 0,400 0,200 0,200 C 131.06666666666666,191.46666666666667 262.1333333333333,182.93333333333334 435,186 C 607.8666666666667,189.06666666666666 822.5333333333333,203.73333333333332 997,208 C 1171.4666666666667,212.26666666666668 1305.7333333333333,206.13333333333333 1440,200 C 1440,200 1440,400 1440,400 Z" stroke="none" stroke-width="0" fill="url(#gradient)" fill-opacity="1" class="transition-all duration-300 ease-in-out delay-150 path-0" transform="rotate(-180 720 200)"></path></svg>
        
        <!-- Nosotros -->
            <section id="featured" class="content-section ">
                <div class="section-heading" data-aos="zoom-out-up" data-aos-delay="200">
                    <h1>Nuestra<br><em>Misión</em></h1>
                    
                    <div  class="row g-5 py-5">
                    <div class="col-lg-7 " style="box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;">
                    <h3>Brindamos el uso adecuado de nuevas tecnologías para asegurar la mejora de la infraestructura vial, mediante la innovación e investigación, tecnología y capacitando a profesionales en el ámbito de la infraestructura vial.</h3>               
                   </div>
                    <div class="col-lg-5 pb-5 img-1" style="min-height: 400px;">
                    <img class="position-absolute w-100 h-100 mt-3 ms-n5 rounded-3" src="img/logoGZA.png" style="object-fit: scale-down;">
              		</div>
                </div>
                </div>
                
                
                
                <div class="section-heading"  data-aos="zoom-out-up" data-aos-delay="200">
                    <h1>Nuestra<br><em>Visión</em></h1>
                    
                    <div class="row g-5 py-5" >
                    <div class="col-lg-7 " style="box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;">
                    <h4>Brindamos soluciones para establecer y resguardar la infraestructura vial en el país.</h4>
                   </div>
                    <div class="col-lg-5 pb-5 img-1" style="min-height: 400px;">
                    <img class="position-absolute w-100 h-100 mt-3 ms-n5 rounded-3" src="img/logoGZA.png" style="object-fit: scale-down;">
              		</div>
                </div>                </div>
                
                <div class="section-heading"  data-aos="zoom-out-up" data-aos-delay="200">
                    <h1>Sobre<br><em>Nosotros</em></h1>
                    
                    <h2>Centro de tecnología, investigación e innovación GZA InfraVial Perú</h2>
                    
                    <div class="px-4 "  style="box-shadow: rgb(255 0 0) -5px 5px, rgb(207 36 36 / 30%) -10px 10px, rgb(240 46 46 / 20%) -15px 15px, rgb(240 46 46 / 10%) -20px 20px, rgb(240 46 46 / 5%) -25px 25px;">
                    <h3>•	Efectuar estudios, capacitaciones e innovaciones, asociado a problemas particulares de las obras de infraestructura vial que permita la toma de decisiones.</h3>
                    <h3>• Ofrecer el uso de las nuevas tecnologías de reciente desarrollo en el mercado nacional e internacional,  minimizando el error humano, garantizando al cliente que la información sea certera y precisa.</h3>
                    </div>
                </div>
                
               
            </section>

            
        <!-- Cursos -->
        <div data-aos="fade-down" data-aos-delay="300">
        
          <svg width="100%" height="100%" id="svg" viewBox="0 0 1440 400" xmlns="http://www.w3.org/2000/svg" class="transition duration-300 ease-in-out delay-150"><style>
          .path-0{
            animation:pathAnim-0 4s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
          }
          @keyframes pathAnim-0{
            0%{
              d: path("M 0,400 C 0,400 0,200 0,200 C 188,219.46666666666667 376,238.93333333333334 531,230 C 686,221.06666666666666 808,183.73333333333335 954,174 C 1100,164.26666666666665 1270,182.13333333333333 1440,200 C 1440,200 1440,400 1440,400 Z");
            }
            25%{
              d: path("M 0,400 C 0,400 0,200 0,200 C 137.86666666666667,233.86666666666667 275.73333333333335,267.73333333333335 441,247 C 606.2666666666667,226.26666666666668 798.9333333333334,150.93333333333334 970,134 C 1141.0666666666666,117.06666666666666 1290.5333333333333,158.53333333333333 1440,200 C 1440,200 1440,400 1440,400 Z");
            }
            50%{
              d: path("M 0,400 C 0,400 0,200 0,200 C 130,236.93333333333334 260,273.8666666666667 438,256 C 616,238.13333333333335 842,165.46666666666667 1017,147 C 1192,128.53333333333333 1316,164.26666666666665 1440,200 C 1440,200 1440,400 1440,400 Z");
            }
            75%{
              d: path("M 0,400 C 0,400 0,200 0,200 C 133.7333333333333,165.06666666666666 267.4666666666666,130.13333333333333 411,129 C 554.5333333333334,127.86666666666666 707.8666666666668,160.53333333333333 881,178 C 1054.1333333333332,195.46666666666667 1247.0666666666666,197.73333333333335 1440,200 C 1440,200 1440,400 1440,400 Z");
            }
            100%{
              d: path("M 0,400 C 0,400 0,200 0,200 C 188,219.46666666666667 376,238.93333333333334 531,230 C 686,221.06666666666666 808,183.73333333333335 954,174 C 1100,164.26666666666665 1270,182.13333333333333 1440,200 C 1440,200 1440,400 1440,400 Z");
            }
          }</style><path d="M 0,400 C 0,400 0,200 0,200 C 188,219.46666666666667 376,238.93333333333334 531,230 C 686,221.06666666666666 808,183.73333333333335 954,174 C 1100,164.26666666666665 1270,182.13333333333333 1440,200 C 1440,200 1440,400 1440,400 Z" stroke="none" stroke-width="0" fill="#f4f4f4" fill-opacity="1" class="transition-all duration-300 ease-in-out delay-150 path-0"></path></svg>
             
             
             <section id="video" class="content-section"  >
                <div class="section-heading "  data-aos="fade-down" data-aos-delay="300">
                    <h1>Nuestros<br><em>Cursos</em></h1>
                    
                            <div class="container  py-5">
            <div class="row gy-5 g-lg-5 mb-4 justify-content-center">

                <!-- Start Recent Work -->
                <div class="col-md-4 mb-3">
                    <a  class="recent-work card border-0 shadow-lg overflow-hidden">
                        <img class="recent-work-img card-img" src="./img/Cursos/GeotecniaVial.png" alt="Card image">
                        <div class="recent-work-vertical card-img-overlay d-flex align-items-end">
                            <div class="recent-work-content2 text-start mb-3 ml-3 text-dark">
                               <p class="fa fa-shopping-cart intro__btn1"></p>
       
                            </div>
                        </div>
                    </a>
                </div>
                <!-- End Recent Work -->
                 <!-- Start Recent Work -->
                <div class="col-md-4 mb-3">
                    <a class="recent-work card border-0 shadow-lg overflow-hidden">
                        <img class="recent-work-img card-img" src="./img/Cursos/ATC.png" alt="Card image">
                        <div class="recent-work-vertical card-img-overlay d-flex align-items-end">
                            <div class="recent-work-content text-start mb-3 ml-3 text-dark">
                               <p class="fa fa-shopping-cart intro__btn2"></p>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- End Recent Work -->
                 <!-- Start Recent Work -->
                <div class="col-md-4 mb-3">
                    <a  class="recent-work card border-0 shadow-lg overflow-hidden">
                        <img class="recent-work-img card-img" src="./img/Cursos/SE.png" alt="Card image">
                        <div class="recent-work-vertical card-img-overlay d-flex align-items-end">
                            <div class="recent-work-content2 text-start mb-3 ml-3 text-dark">
                               <p class="fa fa-shopping-cart intro__btn3"></p>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- End Recent Work -->
                 <!-- Start Recent Work -->
                <div class="col-md-4 mb-3">
                    <a  class="recent-work card border-0 shadow-lg overflow-hidden">
                        <img class="recent-work-img card-img" src="./img/Cursos/BTE.png" alt="Card image">
                        <div class="recent-work-vertical card-img-overlay d-flex align-items-end">
                            <div class="recent-work-content text-start mb-3 ml-3 text-dark">
                               <p class="fa fa-shopping-cart intro__btn4" ></p>
                                                              
                            </div>
                        </div>
                    </a>
                </div>
                <!-- End Recent Work -->
              


            </div>
        </div>
        
                </div>
                
                    

               
            </section>

           
           <svg width="100%" height="100%" id="svg" viewBox="0 0 1440 400" xmlns="http://www.w3.org/2000/svg" class="transition duration-300 ease-in-out delay-150"><style>
          .path-0{
            animation:pathAnim-0 4s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
          }
          @keyframes pathAnim-0{
            0%{
              d: path("M 0,400 C 0,400 0,200 0,200 C 165.2,173.86666666666667 330.4,147.73333333333332 470,141 C 609.6,134.26666666666668 723.5999999999999,146.93333333333334 881,160 C 1038.4,173.06666666666666 1239.2,186.53333333333333 1440,200 C 1440,200 1440,400 1440,400 Z");
            }
            25%{
              d: path("M 0,400 C 0,400 0,200 0,200 C 113.59999999999997,187.2 227.19999999999993,174.4 412,185 C 596.8000000000001,195.6 852.8,229.60000000000002 1036,236 C 1219.2,242.39999999999998 1329.6,221.2 1440,200 C 1440,200 1440,400 1440,400 Z");
            }
            50%{
              d: path("M 0,400 C 0,400 0,200 0,200 C 178.93333333333334,181.6 357.8666666666667,163.2 537,177 C 716.1333333333333,190.8 895.4666666666667,236.80000000000004 1046,246 C 1196.5333333333333,255.19999999999996 1318.2666666666667,227.59999999999997 1440,200 C 1440,200 1440,400 1440,400 Z");
            }
            75%{
              d: path("M 0,400 C 0,400 0,200 0,200 C 186,191.33333333333331 372,182.66666666666666 523,191 C 674,199.33333333333334 790,224.66666666666669 937,229 C 1084,233.33333333333331 1262,216.66666666666666 1440,200 C 1440,200 1440,400 1440,400 Z");
            }
            100%{
              d: path("M 0,400 C 0,400 0,200 0,200 C 165.2,173.86666666666667 330.4,147.73333333333332 470,141 C 609.6,134.26666666666668 723.5999999999999,146.93333333333334 881,160 C 1038.4,173.06666666666666 1239.2,186.53333333333333 1440,200 C 1440,200 1440,400 1440,400 Z");
            }
          }</style><path d="M 0,400 C 0,400 0,200 0,200 C 165.2,173.86666666666667 330.4,147.73333333333332 470,141 C 609.6,134.26666666666668 723.5999999999999,146.93333333333334 881,160 C 1038.4,173.06666666666666 1239.2,186.53333333333333 1440,200 C 1440,200 1440,400 1440,400 Z" stroke="none" stroke-width="0" fill="#f4f4f4" fill-opacity="1" class="transition-all duration-300 ease-in-out delay-150 path-0" transform="rotate(-180 720 200)"></path></svg>
      
      </div>
      
        <!-- Eventos -->

           
            <section id="blog" class="content-section">
                <div class="section-heading" data-aos="fade-down" data-aos-delay="300">
                    <h1><br><em>Eventos</em></h1>
                    <p></p>
                </div>
                <div class="section-content"  data-aos="fade-down" data-aos-delay="300">
                    <div class="tabs-content">
                        <div class="wrapper">
                            <ul class="tabs clearfix" data-tabgroup="first-tab-group">
                              <li><a href="#tab1" class="active">Charlas Tecnicas</a></li>
                              <li><a href="#tab2">Charlas Tecnicas </a></li>

                            </ul>
                            <section id="first-tab-group" class="tabgroup">
                                <div id="tab1">
                                    <ul>
                                    
                                    
                                    	<li>
                                            <div class="item">
                                                <img src="img/Eventos/ct2.png" with="350" height="350" alt="">
                                                <div class="text-content">
                                                    <h4>Charla Técnica</h4>
                                                    <span></span>
                                                    <p>MsC. Eduardo Errázuriz Amenábar</p>
                                                    <p2 class="text-dark">Utilización y ventajas de geoceldas bajo pavimentos</p2>
                                                    
                                                    <div class="accent-button button">
                                                        <a href="/ct-1">Ver Información</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        
                                        <li>
                                            <div class="item">
                                                <img src="img/Eventos/ct1_2.png" with="350" height="350" alt="">
                                                <div class="text-content">
                                                    <h4>Charla Técnica</h4>
                                                    <p>Ingeniero Carlos Ovidio Marquez Herrero   </p>
                                                    <p2 class="text-dark">Experiencia  en mas de 10 años de losas de geometría optimizada</p2>
                                                   <div class="accent-button button">
                                                        <a href="/ct-2">Ver Información</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                         <li>
                                            <div class="item">
                                                <img src="img/Eventos/ct1.png" with="350" height="350" alt="">
                                                <div class="text-content">
                                                    <h4>Charla Técnica</h4>
                                                    <p>Ingeniero Francisco Henriquez Rojas</p>
                                                    <p2 class="text-dark">Diseño y Ejecución de pavimentos de concreto con losas de geometría optimizada</p2>
                                                    <div class="accent-button button">
                                                        <a href="/ct-3">Ver Información</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                         <li>
                                            <div class="item">
                                                <img src="img/Eventos/ct4.png" with="350" height="350" alt="">
                                                <div class="text-content">
                                                    <h4>Charla Técnica</h4>
                                                    <p>Ingeniero Francisco Henriquez Rojas</p>
                                                    <p2 class="text-dark">Aplicación de tecnologías en cimentaciones y mejoramiento del terreno</p2>
                                                    <div class="accent-button button">
                                                        <a href="/ct-4">Ver Información</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                         
                                        
     
                                    </ul>
                                </div>
                                <div id="tab2">
                                
                                	<ul>
                                	
                                	    <li>
                                            <div class="item">
                                                <img src="img/Eventos/w1.jpeg" with="350" height="350" alt="">
                                                <div class="text-content">
                                                    <h4>Charla Técnica</h4>
                                                    <p>Ingeniero Emel Diego Lugo Alvarez</p>
                                                    <p2 class="text-dark">Iniciativa de propuesta de especificaciones técnicas de imprimación en bases suelo-cemento</p2>
                                                    <div class="accent-button button">
                                                        <a href="/ct-5">Ver Información</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                         <li>
                                            <div class="item">
                                                <img src="img/Eventos/w2.jpeg" with="350" height="350" alt="">
                                                <div class="text-content">
                                                    <h4>Charla Técnica</h4>
                                                    <p>Dr. Gerber Zavala Ascaño</p>
                                                    <p2 class="text-dark">Superficies asfálticas delgadas con fines de mantenimiento y en carreteras de bajo volumen de tráfico</p2>
                                                    <div class="accent-button button">
                                                        <a href="/ct-6">Ver Información</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                         <li>
                                            <div class="item">
                                                <img src="img/Eventos/w3.jpeg" with="350" height="350" alt="">
                                                <div class="text-content">
                                                    <h4>Charla Técnica</h4>
                                                    <p>Ing. Jonathan Oscar Requiz Cristobal</p>
                                                    <p2 class="text-dark">Metodología mct para estudio de suelos tropicales con fines de pavimentación</p2>
                                                    <div class="accent-button button">
                                                        <a href="/ct-7">Ver Información</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        
                                        
                                         <li>
                                            <div class="item">
                                                <img src="img/Eventos/w4.jpeg" with="350" height="350" alt="">
                                                <div class="text-content">
                                                    <h4>Charla Técnica</h4>
                                                    <p>Ingeniero Roberto Julio De La Cruz Medina</p>
                                                    <p2 class="text-dark">Videoconferencia de Ensayos en suelos tropicales </p2>
                                                    <div class="accent-button button">
                                                        <a href="/ct-8">Ver Información</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                	
                                	
                                	</ul>                                                           
                                
                                </div>

                                
                            </section> 
                        </div>
                    </div>
                </div>
            </section>

<!-- Infografias -->

            <section id="infografias" class="content-section"  >
                <div class="section-heading" data-aos="fade-down" data-aos-delay="300">
                    <h1>Nuestras<br><em>Infografias</em></h1>

                </div>
<div class="rotatingGallery-parentContainer" data-aos="fade-down" data-aos-delay="300">
  <div class="rotatingGallery">
    <div class="rotatingGallery-slides text-center">
      <div class="rotatingGallery-slide" data-arrival-index="1">
        <img class="rotatingGallery-image" alt="" src="img/infografias/1.png" title="">

        <h2 class="rotatingGallery-text">
          Asentamiendo Del Concreto (SLUMP)-ASTM C 143
        </h2>


      </div>

      <div class="rotatingGallery-slide" data-arrival-index="6">
        <img class="rotatingGallery-image" alt="" src="img/infografias/2.png" title="">

        <h2 class="rotatingGallery-text">
          Ensayo de Resistencia a la Comprensión de Mortero Hidraúlico - ASTM C 109
        </h2>


      </div>



      <div class="rotatingGallery-slide" data-arrival-index="7">
        <img class="rotatingGallery-image" alt="" src="img/infografias/4.png" title="">

        <h2 class="rotatingGallery-text">
          La Guía del Marco BIM del Reino Unido
        </h2>

        
      </div>

      <div class="rotatingGallery-slide" data-arrival-index="5">
        <img class="rotatingGallery-image" alt="" src="img/infografias/5.png" title="">

        <h2 class="rotatingGallery-text">
          Guía BIM
        </h2>

       
      </div>

      <div class="rotatingGallery-slide" data-arrival-index="2">
        <img class="rotatingGallery-image" alt="" src="img/infografias/6.png" title="">

        <h2 class="rotatingGallery-text">
          Software Evalpav En sus 3 Versiones
        </h2>

      
      </div>

      <div class="rotatingGallery-slide" data-arrival-index="4">
        <img class="rotatingGallery-image" alt="" src="img/infografias/7.png" title="">

        <h2 class="rotatingGallery-text">
          Resistencia a la Comprensión Testigos Cilíndricos
        </h2>

        
      </div>

      <div class="rotatingGallery-slide" data-arrival-index="3">
        <img class="rotatingGallery-image" alt="" src="img/infografias/8.png" title="">

        <h2 class="rotatingGallery-text">
          Sección Típica de la Infraestructura del Camino Aplicando BIM 2D-3D
        </h2>

      
      </div>

    </div>
  </div>
</div>

</section>



   
   
        <!-- Contacto -->

            <section id="contact" class="content-section">

                <div id="contact-content"  data-aos="fade-down" data-aos-delay="300">
                    <div class="section-heading" style="">
                        <h1>Contacto <br><em>CETINI GZA InfraVial Perú</em></h1>
                        <p class="fa fa-home" >Oficina Principal : Breña, Perú. 
                        <br><as class="fa fa-envelope">Email : gzainfravialperu@gmail.com</as>
                        <br><as class="fa fa-phone">Teléfono: +51 986739018</as> </p>
                        
                    </div>
                    <div class="section-content" style="box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;">
                <form class="py-4 pb-4 px-4" action="https://formsubmit.co/valdiviavela@hotmail.com" method="POST">
                            <div class="row">
                                <div class="col-md-4">
                                  <fieldset>
                                    <input name="name" type="text" class="form-control" id="Nombre" placeholder="Nombre Completo" required="">
                                  </fieldset>
                                </div>
                                <div class="col-md-4">
                                  <fieldset>
                                    <input name="email" type="email" class="form-control" id="Email" placeholder="Correo Electrónico" required="">
                                  </fieldset>
                                </div>
                                 <div class="col-md-4">
                                  <fieldset>
                                    <input name="subject" type="text" class="form-control" id="Tema" placeholder="Tema" required="">
                                  </fieldset>
                                </div>
                                <div class="col-md-12">
                                  <fieldset>
                                    <textarea name="message" rows="6" class="form-control" id="Alcance de servicio" placeholder="Alcance de servicio" required=""></textarea>
                                  </fieldset>
                                </div>
                                <div class="col-md-12">
                                  <fieldset>
                                    <button type="submit" id="form-submit" class="btn">Enviar Mensaje</button>
                                  </fieldset>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
            <section class="footer">
                <p>Copyright &copy; 2022 CETINI GZA InfraVial Perú               
                </p>
            </section>
        </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="https://CetiniGzaInfravialPeruAW.b-cdn.net/static/js/Informativa/vendor/bootstrap.min.js"></script>
    
    <script src="https://CetiniGzaInfravialPeruAW.b-cdn.net/static/js/Informativa/plugins.js"></script>
    <script src="https://CetiniGzaInfravialPeruAW.b-cdn.net/static/js/Informativa/Boton.js"></script>
    <script src="https://CetiniGzaInfravialPeruAW.b-cdn.net/static/js/Informativa/main.js"></script>
    <script src="https://CetiniGzaInfravialPeruAW.b-cdn.net/static/js/Informativa/Slider.js"></script>
    <script src="https://CetiniGzaInfravialPeruAW.b-cdn.net/static/js/Informativa/jquery.min.js"></script>
    <script src="https://CetiniGzaInfravialPeruAW.b-cdn.net/static/js/Informativa/isotope.pkgd.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    

    <script>
        // Hide Header on on scroll down
        var didScroll;
        var lastScrollTop = 0;
        var delta = 5;
        var navbarHeight = $('header').outerHeight();

        $(window).scroll(function(event){
            didScroll = true;
        });

        setInterval(function() {
            if (didScroll) {
                hasScrolled();
                didScroll = false;
            }
        }, 250);

        function hasScrolled() {
            var st = $(this).scrollTop();
            
            // Make sure they scroll more than delta
            if(Math.abs(lastScrollTop - st) <= delta)
                return;
            
            // If they scrolled down and are past the navbar, add class .nav-up.
            // This is necessary so you never see what is "behind" the navbar.
            if (st > lastScrollTop && st > navbarHeight){
                // Scroll Down
                $('header').removeClass('nav-down').addClass('nav-up');
            } else {
                // Scroll Up
                if(st + $(window).height() < $(document).height()) {
                    $('header').removeClass('nav-up').addClass('nav-down');
                }
            }
            
            lastScrollTop = st;
        }
    </script>
     <script>
 AOS.init();
 </script>
 
 		<script>

let scrollRef = 0;
$(window).on("resize scroll", function () {
  // increase value up to 10, then refresh AOS
  scrollRef <= 10 ? scrollRef++ : AOS.refresh();
});
</script>
 

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>

</body>
</html>